<div class="container-fluid d-flex h-200">
    <div class="row">
        <div class="col-md-11">
<mat-card class="login-card" layout-align="right">
 <mat-card-content class="login-content">
     <mat-card-header class="login-header">
         <mat-card-title class="login-title">ALREADY A MEMBER ?</mat-card-title>
     </mat-card-header>       
    
    <input matInput placeholder="username">
    <input matInput placeholder="password">

    <p>or</p>
    
    
    <button mat-button>Login with Facebook</button>
    <button mat-button>Login with Google</button>
    
    <p>Need assistance?</p>
    
    <p>Ask a Hank</p>


</mat-card-content>
</mat-card>
</div>
</div>
</div>